@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

header {
  font-family: "Roboto", sans-serif;
  background-color: #f8f9fa; /* Light background */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  max-width: 98%;
}

.nav-link {
  font-weight: 500;
  color: #343a40 !important; /* Darker text */
}

.nav-link:hover {
  text-decoration: underline; /* Add hover effect */
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  margin-right: 10px;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.btn-outline-primary {
  border-color: #007bff;
  color: #007bff;
}

.btn-outline-primary:hover {
  background-color: #007bff;
  color: #fff;
}
